.card-1 {
  border-top: 5px solid #ff4f64;
  padding: 30px;
  margin: 30px;
  height: 350px;
  width: 420px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #ffffff;
}

.card-2 {
  border-top: 5px solid #00a8e7;
  padding: 30px;
  margin: 30px;
  height: 350px;
  width: 420px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #ffffff;
}

.card-3 {
  border-top: 5px solid #44c4a1;
  padding: 30px;
  margin: 30px;
  height: 350px;
  width: 420px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #ffffff;
}

.card-4 {
  border-top: 5px solid #fcc200;
  padding: 30px;
  margin: 30px;
  height: 350px;
  width: 420px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #ffffff;
}

.card-heading {
  color: #171f46;
  font-family: 'Roboto';
  padding-left: 20px;
}

.card-para {
  color: #64748b;
  font-family: 'Roboto';
  padding-left: 20px;
}

.card-image {
  align-self: flex-end;
  padding-right: 20px;
}
